{% extends "base.html" %}

{% block content %}
<section class="contact-hero">

    <div class="contact-overlay"></div>

    <div class="contact-content">
        <h1>Contact opnemen</h1>

        <p>
            Leuk dat je interesse hebt in een shoot. 
            Heb je een vraag of wil je een shoot boeken? 
            Stuur gerust een bericht.
        </p>

        <div class="contact-info">

            <a href="mailto:claudiapolfotografie@gmail.com" class="contact-button">
                ✉️ claudiapolfotografie@gmail.com
            </a>

            <a href="tel:+06-53627259" class="contact-button">
                📞 06-53627259
            </a>

            <a href="https://www.instagram.com/claudiapol_fotografie" target="_blank" class="contact-button">
                📷 Instagram
            </a>

            <p> 
		Gevestigd in Wijk bij Duurstede, sportfotografie door het hele land is bespreekbaar.
            </p>

        </div>

    </div>

</section>

{% endblock %}